################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UWP/MeetingManagerUWP/.vs/MeetingManager/v14/.suo
*.zip
/UWP/MeetingManagerUWP/MeetingManager/bin/x86/Debug
/.idea
.env
Android/MeetingManagerAndroid/app/local.properties
**/Android/MeetingManagerAndroid/app/src/main/java/com/microsoft/office365/meetingmgr/Constants.java

